{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Conditions générales de vente
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
					Conditions générales de vente</h1>
			</div>
            <div class="col-12 pt-5">
                <div class="row text-center text-white">
                    <h4>Les présentes conditions générales de vente régissent les relations contractuelles entre le vendeur et l'acheteur, définissant les conditions applicables à tout achat effectué sur le site.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Produit :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Les produits proposés à la vente sont ceux figurant sur le site, dans la limite des stocks disponibles. Les descriptions et les prix des produits sont susceptibles d'être modifiés à tout moment.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Prix :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Les prix des produits sont indiqués en euros toutes taxes comprises. Le vendeur se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Commande :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>L'acheteur sélectionne les produits qu'il souhaite acheter et valide sa commande en fournissant les informations nécessaires au paiement. La commande ne sera considérée comme définitive qu'après confirmation de son paiement.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Paiement :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Le paiement s'effectue en ligne par carte bancaire ou tout autre moyen de paiement accepté par le site. Le vendeur se réserve le droit de suspendre ou d'annuler toute commande en cas de non-paiement.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Responsabilité :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Le vendeur ne saurait être tenu responsable des dommages directs ou indirects causés par l'utilisation des produits vendus sur le site.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Litiges :</strong></h5>
                </div>
                <div class="row text-center pt-3 pb-5 text-white">
                    <h4>En cas de litige, les parties s'engagent à rechercher une solution amiable. À défaut, le litige sera soumis aux tribunaux compétents.</h4>
                </div>
            </div>
		</div>
	</div>
{% endblock %}