{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Accueil{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4  fw-bold"> Bienvenue sur PS5Playground ! </h1>
<h3 class="text-center text-secondary mt-4 pt-4  fw-bold"> Acheter vos jeux PS5 ici à bas prix ! </h3>
{% endblock %}