{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Politique de confidentialité
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
					Politique de confidentialité</h1>
			</div>
            <div class="col-12 pt-5">
                <div class="row text-center text-white">
                    <h4>La présente politique de confidentialité décrit la manière dont les données personnelles sont collectées, utilisées et partagées lorsque vous visitez ou effectuez un achat sur PS5Playground.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Collecte et utilisation des informations personnelles :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Lorsque vous visitez PS5Playground, nous recueillons automatiquement certaines informations sur votre appareil, notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies installés sur votre appareil. De plus, lorsque vous naviguez sur PS5Playground, nous recueillons des informations sur les pages web ou les produits que vous consultez, les sites web ou les termes de recherche qui vous ont renvoyé vers PS5Playground, et des informations sur la manière dont vous interagissez avec PS5Playground. Nous nous référons à ces informations collectées automatiquement sous le nom d'« Informations sur l'appareil ».</h4>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Nous collectons des informations sur les appareils que vous utilisez pour accéder au site, telles que votre adresse IP, le type de navigateur que vous utilisez et vos préférences linguistiques. Nous utilisons ces informations pour mieux comprendre la manière dont vous interagissez avec notre site et pour améliorer nos services.</h4>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Lorsque vous effectuez un achat ou tentez d'effectuer un achat via PS5Playground, nous recueillons également certaines informations vous concernant, y compris votre nom, votre adresse de facturation, vos informations de paiement (y compris les informations de carte de crédit), votre adresse e-mail et votre numéro de téléphone. Nous faisons référence à ces informations sous le nom d'« Informations de commande ».</h4>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Lorsque nous parlons d'« Informations personnelles » dans cette Politique de confidentialité, nous faisons référence à la fois aux Informations sur l'appareil et aux Informations de commande.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Conservation des données :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Nous conservons vos Informations personnelles aussi longtemps que nécessaire pour vous fournir nos services, et tel que décrit dans notre Politique de confidentialité. Cependant, nous pouvons également être amenés à conserver ces informations pour nous conformer à nos obligations légales, résoudre les litiges et faire respecter nos accords.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Droits des utilisateurs :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white">
                    <h4>Si vous êtes un résident européen, vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander que vos informations personnelles soient corrigées, mises à jour ou supprimées. Si vous souhaitez exercer ce droit, veuillez nous contacter via les coordonnées ci-dessous.</h4>
                </div>
                <div class="row text-center pt-5">
                    <h5><strong>Modifications de la politique de confidentialité :</strong></h5>
                </div>
                <div class="row text-center pt-3 text-white pb-5">
                    <h4>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, alors veuillez la consulter fréquemment. Les modifications et les clarifications prendront effet immédiatement après leur publication sur le site. Si nous apportons des changements importants à cette politique, nous vous en informerons ici qu'elle a été mise à jour, afin que vous sachiez quels renseignements nous recueillons, comment nous les utilisons et dans quelles circonstances, le cas échéant, nous les utilisons et/ou les divulguons.</h4>
                </div>
            </div>
		</div>
	</div>
{% endblock %}