{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Liste des Jeux{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Voici ici la liste de tous les jeux PS5 !</h1>
<h2 class="text-center text-secondary mt-4 pt-4 display-1 fw-bold"> Procurez vous le jeu de votre choix !</h2>

{% endblock %}
